body{
	background-color: #40BEFF;
	margin-bottom: -1%;
	font-family: Arimo, sans-serif;
}
/*-------------------HEADER----------------*/
 
header {
	position: relative;
	padding: 10px;;
	margin-left: -.5%;
	margin-right: -.5%;
	margin-top: -.5%;
	background-color: #666AE8;
	text-align: center;
	border-radius: 0px 0px 20px 20px;
	box-shadow: 0px 3px 7px grey;
}
/*---------------------CORPO----------------*/

#corpo{
	font-family: Arimo, sans-serif;
	padding: 3%;
	width: 80%;
	background-color: white;
	margin-left: 7%;
}
			/*------Login------*/
			
#acesso {
	display: block;
	text-align: center;
}
#acesso a {
	text-decoration: none;
	color: #F5D157;
}
#medico, #paciente {
	display: inline-block;
	background-color: #666AE8;
	text-align: center;
	border-radius: 12px;
	padding: 3%;
	margin: 1%;
	box-shadow: 3px 3px 20px black;
}
#medico h3 {
	margin-top: 30.72px;
}

/*============ Main medico-login.html ================*/

#login-med {
	background: rgb(94,187,254);
}

#principal-login {
	box-sizing: border-box;
	padding: 30px;
	text-align: center;
	max-width: 600px;
	margin: 155px auto;
	width: 35%;
	border: 3px outset rgb(35,109,146);
	border-radius: 15px;
	box-shadow: 5px 5px 20px black;
	background-color: #666AE8;
	min-width: 320px;
	color: #F5D157;
	font-weight: bold;
}

#principal-login img {
	margin-bottom: 15px;
	
}

#login, #senha {
	border: 2px solid rgb(35,109,146);
	margin: 10px;
	width: 75%;
	height: 2em;
	text-align: center;
	border-radius: 15px;
}

#login:focus, #senha:focus {
	border: 2px solid grey;
}

.submit {
	height: 2em;
	background-color: white;
	border-radius: 5px;
	width: 90px;
	cursor: pointer;
	margin: 15px 0px;
	margin-bottom: 0px;
}

/*============ Main paciente-login.html ================*/

#login-kid {
	background: rgb(94,187,254);
}

#login-kid #principal-login {
	background-color:#666AE8 
}

/*============ Footer ================*/

#img-footer1 {
	float: right;
}

#img-footer2 {
	float: right;
}

/*-----------------------FOOTER-------------*/

footer {
	position: relative;
	margin-top: .1%;
	margin-left: -.5%;
	margin-right: -.5%;
	padding: 1%;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 3px 0px 7px grey;
	background-color: #666AE8;
}
#img-footer1 {
	padding: 2%;
	float: right;
}

#img-footer2 {
	padding: 2%;
	float: right;
}
#alunos h3 {
	color: rgb(244,219,77);
}
#contatos{
	color: rgb(244,219,77);
}
