body{
	background-color: #40BEFF;
	margin-bottom: -1%;
	font-family: Arimo, sans-serif;
	margin: 0;
	min-width: 500px;
}

.clear {
	clear: both;
}

label, #submit {
	cursor: pointer;
}

.tab {
	padding-left: 15px; 
}

/*-------------------HEADER----------------*/
 
header {
	position: relative;
	padding: 5px;
	/*margin-left: -.5%;
	margin-right: -.5%;
	margin-top: -.5%;*/
	background-color: #666AE8;
	text-align: center;
	border-radius: 0px 0px 20px 20px;
	box-shadow: 0px 3px 7px grey;
}

#home-icon {
	width: 20px;
}

.titulo{
	color: rgb(244,219,77);
}
/*---------------------CORPO----------------*/

#corpo{
	font-family: Arimo, sans-serif;
	padding: 3%;
	width: 80%;
	background-color: white;
	margin-left: 7%;
	/*min-width: 470px;*/
}
			/*------Login------*/
			
#acesso {
	display: block;
	text-align: center;
}
#acesso a {
	text-decoration: none;
	color: #F5D157;
}
#medico, #paciente {
	display: inline-block;
	background-color: #666AE8;
	text-align: center;
	border-radius: 12px;
	padding: 3%;
	margin: 1%;
	box-shadow: 3px 3px 20px black;
}
#medico h3 {
	margin-top: 30.72px;
}

/*============ Main medico-login.html ================*/

#login-med {
	background: rgb(94,187,254);
}

#principal-login, #avatar {
	box-sizing: border-box;
	padding: 30px;
	text-align: center;
	max-width: 600px;
	margin: 155px auto;
	width: 35%;
	border: 3px outset rgb(35,109,146);
	border-radius: 15px;
	box-shadow: 5px 5px 20px black;
	background-color: #666AE8;
	min-width: 350px;
	color: #F5D157;
	font-weight: bold;
}

#principal-login img {
	margin-bottom: 15px;
}

#login, #senha {
	border: 2px solid rgb(35,109,146);
	margin: 10px;
	width: 75%;
	height: 2em;
	text-align: center;
	border-radius: 15px;
}

#login:focus, #senha:focus, #avatar-nome input:focus {
	border: 2px solid grey;
}

.submit {
	height: 2em;
	background-color: white;
	border-radius: 5px;
	width: 90px;
	cursor: pointer;
	margin: 15px 0px;
	margin-bottom: 0px;
}

/*============ Main paciente-login.html ================*/

#login-kid {
	background: rgb(94,187,254);
}

#login-kid #principal-login {
	background-color:#666AE8 
}

/*============ Footer ================*/

#img-footer1 {
	float: right;
}

#img-footer2 {
	float: right;
}

/*============ Main medico-cadastro.html/paciente-cadastro.html ================*/

#corpo-cadastro{
	text-align: center;
	padding: 3%;
	width: 60%;
	background-color: white;
	margin-left: 15%;
}

.cadastro{
	text-align: center;
}
input{
	margin: 2px;
	text-align: center;
}

/*============ avatar.html ================*/

#avatar-meio {
	margin: 5px 0;
}

.avatar-selec {
	/*padding-left:  10%;*/
}

.seta-esquerda, .seta-direita {
	width: 50px;
	border: 2px dotted rgb(35,109,146);
	border-radius: 25px;
	background: white;
	cursor: pointer;
}

.seta-esquerda {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.avatar-btn-l, .avatar-btn-r {
	padding: 35px 0px;
}

.avatar-btn-l {
	float: left;
	/*margin-left: 5%;*/
	padding-left: 5%;
}

.avatar-btn-r {
	float: right;
	/*margin-right: 5%;*/
	padding-right: 5%;	
}

.avatar-img {
	margin: auto;
	width: 120px;
	height: 120px;
	background-color: white;
	border: 2px solid rgb(35,109,146);
}

.avatar-img img {
	width: 95%;
}

#avatar-nome input {
	font-size: 20px;
	line-height: 30px;
	width: 70%;
	margin-bottom: 15px;
	border-radius: 15px;
	border: 2px solid rgb(35,109,146);
}

#confirmar-btn input {

	font-weight: bold;
	font-size: 15px;
	height: 4em;
	background-color: white;
	border-radius: 5px;
	width: 150px;
	cursor: pointer;
	margin: 15px 0px;
	margin-bottom: 0px;
}

/*============ contato.html ================*/

#faleconosco, #sobre {
	float: left;
	padding: 5px;
	width: 47%;
	box-sizing: border-box;

	/*border: 1px solid black;*/
}

#faleconosco {
	width: 50%;	
	border: 1px solid rgb(175,175,175);
	border-width: 0 1px 0 0;
}

#sobre {
	float: right;
}

#duvida {
	max-width: 98%;
	width: 400px;
	height: 335px;
}

#faleconosco form>div {
	margin-bottom: 10px;
}

#faleconosco form input {
	text-align: left;
}

#mapa {
	text-align: center;
}

#gmaps {
	width: 300px;
	border: 5px solid rgba(150,150,150,0.5);
}

/*-----------------------FOOTER-------------*/

footer{
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	width: 475px;
	margin-left: auto;
	margin-right: auto;
	min-width: 475px;

}

#copyright, #contato {
	border: 1px solid black;
	padding: 10px 0;
	float: left;
	margin: 10px;
	background-color: rgba(102,106,232,0.4);
	color: #F5D157;
}

#copyright {
	padding: 10px;
}

#contato a {
	color: black;
	padding: 10px;
	padding-bottom: 11px;
	color: #F5D157;
}

#contato a:hover {
	background: rgba(102,106,232,0.6);
	text-decoration: none;
}

#contato a:active {
	background: rgba(102,106,232,1);
}

#cpy {
	border: 1px solid black;
	background-color: rgba(102,106,232,0.4);
	padding: 10px;
	color: #F5D157;
}

#cont {
	width: 300px;
	min-width: 300px;
}

/*background-color: #666AE8;
color: #F5D157;
*/

